<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenraxAPI</title>
</head>

<style>
    body{        
        text-align: center;
        font-size: 2rem;
        font-color: white;
    }

</style>

<body>

    <h1>
        GenraxAPI - v.0.3
    </h1>
    <form action="file-upload" method="POST" enctype="multipart/form-data">
        <input type="file" id="file" name="file" >
        <input type="submit">
    </form>


</body>
</html>